@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css');


*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {

  font: 14px 'Montserrat', sans-serif;
  line-height: 1;
}

html, body {
  height: 100%;
  width: 100%;
//  overflow: hidden;



}


button {
  padding:6px;
  margin:2px;
}

h1, h2, h3{
  margin: 10px;

}

a {
  margin:5px;
 // text-decoration: none;
}

pre {
  padding: 20px;
}

body {
  color: #333;

  background-color: lightgrey;
}
